.mainContainer{
  /* border: 3px solid yellow; */
  background-color: #D9D9D9;
}
.customHeading{
  font-size: 85px;
  font-weight: 700;
  word-spacing: -10px;
  letter-spacing: -1px;
  word-spacing: 3px;
}
.imageOne{
  width: 87px;
  height: 110px;
  object-fit: cover;
}
.paraOne{
  font-size: 85px;
  font-weight: 700;
  word-spacing: -10px;
  line-height: 7rem;
  color: #376BD1;
  word-spacing: 3px;
}
.andColor{
  color: #1E1C1D;
}
.imageTwo{
  width: 87px;
  height: 100px;
}
.paraTwo{
  font-size: 85px;
  font-weight: 700;
  word-spacing: -10px;
  line-height: 7rem;
  color: #376BD1;
  word-spacing: 3px;
}
.customPara{
  max-width: 560px;
  margin-top: 11rem;
  color: #1E1C1D;
  font-size: 18px;
  font-weight: 500;
}
@media only screen and (max-width: 1400px) {
  .customHeading{
    font-size: 50px;
  }
  .paraOne{
    font-size: 45px;
  }
  .paraTwo{
    font-size: 45px;
  }
  .customPara{
    margin-top: 9rem;
  }
}

@media only screen and (max-width: 992px) {
  .customHeading{
    font-size: 38px;
  }
  .paraOne{
    font-size: 35px;
  }
  .paraTwo{
    font-size: 35px;
  }
  .customPara{
    font-size: 13px;
    max-width: 400px;
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 768px) {
  .customHeading{
    font-size: 30px;
  }
  .paraOne{
    font-size: 30px;
  }
  .paraTwo{
    font-size: 30px;
  }
  .customPara{
    font-size: 13px;
    max-width: 400px;
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 568px) {
  .customHeading{
    font-size: 24px;
  }
  .paraOne{
    font-size: 18px;
  }
  .paraTwo{
    font-size: 18px;
  }
  .customPara{
    font-size: 13px;
    max-width: 400px;
    margin-top: 0rem;
  }
}

@media only screen and (max-width: 468px) {
  .customHeading{
    font-size: 18px;
  }
  .paraOne{
    font-size: 13px;
    font-weight: 900;
  }
  .paraTwo{
    font-size: 13px;
    font-weight: 900;
  }
  .customPara{
    font-size: 13px;
    max-width: 400px;
    margin-bottom: 2rem;
  }
}