.mainContainer{
  /* border: 3px solid yellow; */
  background-color: #D9D9D9;
}
.customHeading{
  font-family: 'Bebas Neue';
  font-size: 130px;
  font-weight: 500;
  letter-spacing: 0%;
  line-height: 104%;
  color: #1E1C1D;
}
.customRow{
  margin-top: -2rem;
}
.imageOne{
  width: 87px;
  height: 110px;
  margin-top: -17px;
  object-fit: cover;
}
.paraOne{
  font-family: 'Bebas Neue';
  font-weight: 500;
  font-size: 130px;
  line-height: 114%;
  letter-spacing: 0%;
  color: #376BD1;
}
.andColor{
  color: #1E1C1D;
}
.imageTwo{
  width: 87px;
  height: 95px;
  margin-top: -28px;
}
.paraTwo{
  font-family: 'Bebas Neue';
  font-weight: 500;
  font-size: 130px;
  line-height: 114%;
  letter-spacing: 0%;
  color: #376BD1;
}
.customPara{
  max-width: 560px;
  margin-top: 10rem;
  color: #1E1C1D;
  font-size: 18px;
  font-weight: 500;
  line-height: 114%;
  font-family: 'Roboto';
  letter-spacing: 0%;
}
@media only screen and (max-width: 1400px) {
  .customHeading{
    font-size: 50px;
  }
  .paraOne{
    font-size: 45px;
  }
  .paraTwo{
    font-size: 45px;
  }
  .customPara{
    margin-top: 9rem;
  }
}

@media only screen and (max-width: 992px) {
  .customHeading{
    font-size: 38px;
  }
  .paraOne{
    font-size: 35px;
  }
  .paraTwo{
    font-size: 35px;
  }
  .customPara{
    font-size: 13px;
    max-width: 400px;
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 768px) {
  .customHeading{
    font-size: 30px;
  }
  .paraOne{
    font-size: 30px;
  }
  .paraTwo{
    font-size: 30px;
  }
  .customPara{
    font-size: 13px;
    max-width: 400px;
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 568px) {
  .customHeading{
    font-size: 24px;
  }
  .paraOne{
    font-size: 18px;
  }
  .paraTwo{
    font-size: 18px;
  }
  .customPara{
    font-size: 13px;
    max-width: 400px;
    margin-top: 0rem;
  }
}

@media only screen and (max-width: 468px) {
  .customHeading{
    font-size: 18px;
  }
  .paraOne{
    font-size: 13px;
    font-weight: 900;
  }
  .paraTwo{
    font-size: 13px;
    font-weight: 900;
  }
  .customPara{
    font-size: 13px;
    max-width: 400px;
    margin-bottom: 2rem;
  }
}