.mainContainer{
  background-color: #1E1C1D;
}
.topPara{
  font-size: 42px;
  font-weight: 700;
  color: #D9D9D9;
  max-width: 950px;
  margin-top: 15rem;
}
.customParaOne{
  font-size: 18px;
  font-weight: 700;
  color: #376BD1;
}
.customParaTwo{
  font-size: 18px;
  font-weight: 700;
  color:#D9D9D9;
  max-width: 487px;
}

@media only screen and (max-width: 1400px) {
  .topPara {
    font-size: 29px;
      font-weight: 700;
      color: #D9D9D9;
      max-width: 750px;
      margin-top: 15rem;
  }
}

@media only screen and (max-width: 1400px) {
  .topPara {
    font-size: 24px;
      font-weight: 700;
      color: #D9D9D9;
      max-width: 750px;
      margin-top: 9rem;
  }
}

@media only screen and (max-width: 992px) {
  .topPara {
    font-size: 20px;
      font-weight: 700;
      color: #D9D9D9;
      max-width: 750px;
  }
}

@media only screen and (max-width: 768px) {
  .topPara {
    margin-top: 0px;
    font-size: 22px;
      font-weight: 700;
      color: #D9D9D9;
      max-width: 750px;
  }

  .customParaOne{
    font-size: 14px;
    font-weight: 700;
    color: #376BD1;
    max-width: 385px;
  }
}

@media only screen and (max-width: 509px) {
  .topPara {
    margin-top: 0px;
    font-size: 17px;
      font-weight: 700;
      color: #D9D9D9;
      max-width: 750px;
  }

  .customParaOne{
    font-size: 13px;
    font-weight: 700;
    color: #376BD1;
    max-width: 385px;
  }
}