.mainContainer{
  /* border: 3px solid rgb(255, 0, 0); */
}
.imageOne{
  width: 322px;
  height: 278px;
}
.paraDiv{
  margin-top: 4.5rem;
}
.customPara{
  font-family: 'Roboto';
  color: #1E1C1D;
  font-size: 15px;
  font-weight: 400;
  line-height: 114%;
  letter-spacing: 0%;
  max-width: 483px;
}
.mapOne{
  width: 908px;
  height: 534px;
  margin-top: 3rem;
}
.mapDivOne{
  text-align: center;
  margin-top: 5rem;
  border-left: 3px solid#E56028;
}
.mapTwo{
  width: 420px;
  height: 474px;
  margin-top: 3rem;
}
.mapDivTwo{
  text-align: center;
  margin-top: 5rem;
  border-left: 3px solid #376BD1;
}
.headingOne{
  color: #E56028;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 114.99999999999999%;
  letter-spacing: 0%;
  font-family: 'Bebas Neue';
}
.headingTwo{
  color: #376BD1;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 114.99999999999999%;
  letter-spacing: 0%;
  font-family: 'Bebas Neue';
}
.paraOne{
  color: #1E1C1D;
  font-size: 18px;
  font-weight: 500;
  margin-top: 1rem;
}
.paraTwo{
  color: #1E1C1D;
  font-size: 18px;
  font-weight: 500;
  margin-top: 0.7rem;
}

@media (max-width: 1200px) {
  .mapOne{
    width: 300px;
  }
  .mapTwo{
    width: 320px;
  }
}

@media (max-width: 992px) {
  .mapOne{
    width: 240px;
    margin-top: 8rem;
  }
  .mapTwo{
    width: 230px;
    margin-top: 8rem;
  }
  .headingOne{
    font-size: 30px;
  }
  .paraOne{
    margin-top: 1rem;
  }
  .headingTwo{
    font-size: 34px;
  }
  .paraTwo{
    margin-top: 1.3rem;
  }
}

@media (max-width: 767px) {
  .mapOne{
    width: 319px;
    margin-top: 2rem;
  }
  .mapTwo{
    width: 319px;
    margin-top: 2rem;
  }
}
