.mainContainer{
  /* border: 6px solid rgb(202, 156, 5); */
  background-color: #D9D9D9;
}
.customHeadingOne{
  font-family: 'Bebas Neue';
  font-size: 130px;
  font-weight: 500;
  color: #1E1C1D;
  line-height: 105%;
  letter-spacing: 0%;
}
.customHeadingTwo{
  font-family: 'Bebas Neue';
  font-size: 130px;
  font-weight: 500;
  color: #376BD1;
  letter-spacing: 0%;
  line-height: 114%;
  margin-top: 18px;
}
.customHeadingThree{
  font-family: 'Bebas Neue';
  font-size: 130px;
  font-weight: 500;
  color: #376BD1;
  letter-spacing: 0%;
  line-height: 114%;
}
.customPara{
  font-family: 'Roboto';
  max-width: 395px;
  font-size: 18px;
  font-weight: 500;
  color: #1E1C1D;
  line-height: 114.99999999999999%;
  margin-top: 12rem;
}
.customDiv{
  margin-top: 11.25rem;
}
.imageOne{
  width: auto;
  height: 120px;
  border: 0.5px solid black;
}
.imageTwo{
  width: auto;
  height: 118px;
  border: 0.5px solid black;
}
.secondImageDiv{
  margin-top: -1rem;
}

@media (max-width: 1400px) {
  .customHeadingOne{
    font-size: 70px;
  }
  .customHeadingTwo{
    font-size: 60px;
  }
  .customHeadingThree{
    font-size: 54px;
  }
}

@media (max-width: 1200px) {
  .customHeadingOne{
    font-size: 60px;
  }
  .customHeadingTwo{
    font-size: 50px;
  }
  .customHeadingThree{
    font-size: 44px;
  }
}

@media (max-width: 992px) {
  .customHeadingOne{
    font-size: 45px;
    letter-spacing: -3px;
  }
  .customHeadingTwo{
    font-size: 36px;
    margin-top: 48px;
  }
  .customHeadingThree{
    font-size: 34px;
    margin-top: 48px;
  }
}

@media (max-width: 768px) {
  .customHeadingOne{
    font-size: 34px;
    letter-spacing: -1px;
  }
  .customHeadingTwo{
    font-size: 36px;
    margin-top: 77px;
  }
  .customHeadingThree{
    font-size: 34px;
    margin-top: 79px;
  }
  .customDiv{
    margin-top: 2.25rem;
  }
  .customPara{
    max-width: 405px;
    margin-top: 4rem;
    margin-left: 0rem;
    font-size: 18px;
    font-weight: 500;
  }
}

@media (max-width: 571px) {
  .customHeadingOne{
    font-size: 18px;
    letter-spacing: -1px;
  }
  .customHeadingTwo{
    font-size: 26px;
    margin-top: 48px;
  }
  .customHeadingThree{
    font-size: 22px;
    margin-top: 79px;
  }
  .customDiv{
    margin-top: 1.25rem;
  }
  .customPara{
    max-width: 405px;
    margin-top: 4rem;
    margin-left: 0rem;
    font-size: 15px;
    font-weight: 500;
  }
}