.mainContainer{
  /* border: 6px solid rgb(202, 156, 5); */
  background-color: #D9D9D9;
}
.customHeadingOne{
  font-size: 90px;
  font-weight: 500;
  color: #1E1C1D;
  letter-spacing: -5px;
  line-height: 114%;
}
.customHeadingTwo{
  font-size: 85px;
  font-weight: 500;
  color: #376BD1;
  margin-top: 18px;
}
.customHeadingThree{
  font-size: 75px;
  font-weight: 500;
  color: #376BD1;
  /* margin-top: 48px; */
}
.customPara{
  max-width: 405px;
  margin-top: 10rem;
  margin-left: 3rem;
  font-size: 18px;
  font-weight: 500;
  line-height: 91%;
}
.customDiv{
  margin-top: 11.25rem;
}

@media (max-width: 1400px) {
  .customHeadingOne{
    font-size: 70px;
  }
  .customHeadingTwo{
    font-size: 60px;
  }
  .customHeadingThree{
    font-size: 54px;
  }
}

@media (max-width: 1200px) {
  .customHeadingOne{
    font-size: 60px;
  }
  .customHeadingTwo{
    font-size: 50px;
  }
  .customHeadingThree{
    font-size: 44px;
  }
}

@media (max-width: 992px) {
  .customHeadingOne{
    font-size: 45px;
    letter-spacing: -3px;
  }
  .customHeadingTwo{
    font-size: 36px;
    margin-top: 48px;
  }
  .customHeadingThree{
    font-size: 34px;
    margin-top: 48px;
  }
}

@media (max-width: 768px) {
  .customHeadingOne{
    font-size: 34px;
    letter-spacing: -1px;
  }
  .customHeadingTwo{
    font-size: 36px;
    margin-top: 77px;
  }
  .customHeadingThree{
    font-size: 34px;
    margin-top: 79px;
  }
  .customDiv{
    margin-top: 2.25rem;
  }
  .customPara{
    max-width: 405px;
    margin-top: 4rem;
    margin-left: 0rem;
    font-size: 18px;
    font-weight: 500;
  }
}

@media (max-width: 571px) {
  .customHeadingOne{
    font-size: 18px;
    letter-spacing: -1px;
  }
  .customHeadingTwo{
    font-size: 26px;
    margin-top: 48px;
  }
  .customHeadingThree{
    font-size: 22px;
    margin-top: 79px;
  }
  .customDiv{
    margin-top: 1.25rem;
  }
  .customPara{
    max-width: 405px;
    margin-top: 4rem;
    margin-left: 0rem;
    font-size: 15px;
    font-weight: 500;
  }
}