.mainContainer{
  /* border: 3px solid rgb(68, 0, 255); */
  background-color: #1E1C1D;
}
.columnLeft{
  padding-top: 9rem;
  padding-bottom: 13rem;
  border-right: 1px solid #D9D9D9;
}
.columnRight{
  padding-top: 9rem;
  padding-bottom: 13rem;
}
.customHeadingOne{
  font-size: 15.75rem;
  color: #376BD1;
  letter-spacing: -12px;
}
.customHeadingTwo{
  font-size: 15.75rem;
  color: #376BD1;
  letter-spacing: -12px;
}
.customParaOne{
  color: #D9D9D9;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.9rem;
  word-spacing: -3px;
}
.customParaTwo{
  color: #D9D9D9;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.9rem;
  word-spacing: -3px;
}

@media (max-width: 1400px) {
  .customHeadingOne{
    font-size: 13.75rem;
  }
  .customParaOne{
    font-size: 25px;
  }
  .customParaTwo{
    font-size: 25px;
  }
}

@media (max-width: 992px) {
  .customHeadingOne{
    font-size: 10.75rem;
  }
  .customParaOne{
    font-size: 20px;
  }
  .customParaTwo{
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .customHeadingOne{
    font-size: 10.75rem;
  }
  .customParaOne{
    font-size: 20px;
  }
  .customParaTwo{
    font-size: 20px;
  }
  .columnLeft{
    padding-top: 5rem;
    padding-bottom: 8rem;
    border-right: 0px;
    border-bottom: 1px solid #D9D9D9;
  }
  .columnRight{
    padding-top: 5rem;
    padding-bottom: 8rem;
  }
}

@media (max-width: 576px) {
  .customHeadingOne{
    font-size: 8.75rem;
  }
  .customParaOne{
    font-size: 16px;
  }
  .customParaTwo{
    font-size: 16px;
  }
  .columnLeft{
    padding-top: 3rem;
    padding-bottom: 5rem;
    border-right: 0px;
    border-bottom: 1px solid #D9D9D9;
  }
  .columnRight{
    padding-top: 3rem;
    padding-bottom: 5rem;
  }
}